---
import { Icon } from 'astro-icon';
import type { NavItem } from '~/types';
import ContentSection from '../shared/content-section.astro';
import AppButton from '../shared/icon-button.astro';
import AppLink from '../shared/app-link.astro';
import ThemeSwitcher from '../shared/theme-switcher.astro';
import ScrollUpButton from '../shared/scroll-up-button.astro';
import PrimaryButton from '../shared/primary-button.astro';

const navItems: Array<NavItem> = [
  { title: 'Tentang Kami', url: '#about-us' },
  { title: 'Keunggulan', url: '#benefits' },
  { title: 'Testimoni', url: '#testimonials' },
];
---

<header
  id="page-header"
  class="sticky top-0 z-20 flex w-full justify-center border-b border-transparent bg-default py-4"
>
  <ContentSection class="flex w-full items-center justify-between">
    <AppLink class="flex items-center gap-3 hover:!text-default" href="#">
      <h1 class="sr-only">Point Service Center</h1>
      <Icon name="logo" class="h-12" />
    </AppLink>

    <div>
      <div class="flex items-center gap-6">
        <nav class="hidden sm:block">
          <menu class="flex items-center gap-6">
            {
              navItems.map(({ title, url }) => (
                <li>
                  <AppLink class="text-sm" href={url}>
                    {title}
                  </AppLink>
                </li>
              ))
            }

            <li>
              <a href="#contact-us">
                <PrimaryButton>Hubungi Kami</PrimaryButton>
              </a>
            </li>
          </menu>
        </nav>

        <AppButton id="open-nav-button" class="sm:hidden" aria-label="Navigation">
          <Icon pack="mdi" name="menu" class="h-8" />
        </AppButton>

        <ThemeSwitcher />
        <ScrollUpButton
          id="scroll-up-button"
          class="-ml-14 origin-[center_right] scale-0 transition-all duration-300"
        />
      </div>

      <div id="menu-modal" class="modal hidden" aria-hidden="true">
        <div class="fixed inset-0 bg-default px-8 py-4 text-default">
          <div class="flex h-full flex-col justify-between gap-6" role="dialog" aria-modal="true">
            <div>
              <header class="text-right">
                <AppButton id="close-nav-button" aria-label="Close navigation">
                  <Icon pack="mdi" name="close" class="h-8" />
                </AppButton>
              </header>

              <div class="flex justify-center">
                <Icon name="logo" class="h-16" />
              </div>
            </div>

            <nav>
              <menu class="flex flex-col items-center gap-4">
                {
                  navItems.map(({ title, url }) => (
                    <li>
                      <AppLink class="text-center text-lg" href={url}>
                        {title}
                      </AppLink>
                    </li>
                  ))
                }

                <li class="w-full">
                  <a href="#contact-us">
                    <PrimaryButton class="w-full py-2 text-lg">Hubungi Kami</PrimaryButton>
                  </a>
                </li>
              </menu>
            </nav>

            <div></div>
          </div>
        </div>
      </div>
    </div>
  </ContentSection>
</header>

<script>
  import MicroModal from 'micromodal';
  import invariant from 'tiny-invariant';

  const menuModalId = 'menu-modal';

  const menu = document.querySelector(`#${menuModalId} menu`);
  const openNavButton = document.getElementById('open-nav-button');
  const closeNavButton = document.getElementById('close-nav-button');
  const scrollUpButton = document.getElementById('scroll-up-button');

  invariant(menu, 'menu should not be null');
  invariant(scrollUpButton, 'scrollUpButton should not be null');
  invariant(openNavButton, 'openNavButton should not be null');
  invariant(closeNavButton, 'closeNavButton should not be null');

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    MicroModal.close(menuModalId);
  };

  openNavButton.addEventListener('click', openMenu);
  closeNavButton.addEventListener('click', closeMenu);

  document.addEventListener('scroll', () => {
    const force = document.documentElement.scrollTop > 200;

    scrollUpButton.classList.toggle('scale-100', force);
    scrollUpButton.classList.toggle('ml-0', force);
  });

  menu.addEventListener('click', (event) => {
    const tagName = (event.target as HTMLElement).tagName;
    if (['A', 'BUTTON'].includes(tagName)) {
      closeMenu();
    }
  });
</script>

<noscript>
  <style>
    #open-nav-button {
      display: none;
    }
  </style>
</noscript>

<style>
  .modal.is-open {
    @apply block;
  }
</style>
